li{
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    padding-left:  25px;
    font-size: larger;
}
.h1{
    font-size:xx-large;
    color: rgb(14, 153, 212);
}
nav{width:40%;
    border: 2px groove rgb(23, 66, 127);
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: beige;
    margin-left: 20%;


}
p a:link{
    color: beige;
}
a:hover{
    color: rgb(110, 159, 238);
}
body{
    background-image: url("https://wallpaperaccess.com/full/1236435.jpg");
    background-size: 135%;
    font-family: roboto;
}
audio{
    margin-left: 1150px;
}
#b{
    margin-left: 550px;
}
table{
    margin-left: 220px;
    border-color: rgb(35, 133, 245);
    font-size: x-large;
}
td{
    color: antiquewhite;
}

#work {
    background-color: beige;
    width: 600px;
    height: 100px;
    margin-right: 100px;
    margin-top: 50px;
    font-size: larger;
    border:2px groove rgb(26, 180, 241);
    border-radius: 15px 5px;
}
main{
    display: flex;
    vertical-align: top;
    margin: 10px;
}
.last {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    margin-top: 30px;
    font-size: large;
}
.resume {
   color: beige; 
}

#a-contact {
    margin-left: 500px;
}
.button {
    display: inline-block;
    margin-left: 20px;
    
}
.buttonb {
    color: beige;
    background-color: rgb(8, 99, 130);
    font-size: xx-large;
    border: 2px ridge rgb(178, 213, 225);
    border-radius: 15px 5px;
}
label{
    color: rgb(9, 201, 244);
    font-size:x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.input-a{
    background-color:rgb(5, 10, 144);
    color:rgb(244, 240, 240);
    font-size:x-large;
    border: 2px dashed rgb(16, 4, 68) ;
}
textarea{
    background-color:rgb(5, 10, 144);
    color:rgb(244, 240, 240);
    font-size:x-large;
    border: 2px dashed rgb(16, 4, 68) ;
}
.email{
    margin-top: 15px;
    margin-bottom: 15px;
    

}

footer .img{
    border: 1px solid black ;
    border-radius: 30%;
}
footer{
    margin-left: 40%;
}